package dashboard

import (
	"apex/internal/domain"
	"apex/internal/web"
	mdweb "apex/marketdata/web"
	stratweb "apex/strategy/web"
)

templ Index(active []domain.Subscription, strategies []*domain.Strategy) {
	@web.Layout("Apex") {
		<div class="container container--lg flex">
			<h1>Apex</h1>
			<div class="section">
				<h2>Market Data</h2>
				@mdweb.Panel(active)
			</div>
			<div class="section">
				<h2>Strategies</h2>
				@stratweb.Panel(strategies)
			</div>
		</div>
	}
}
